<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <zasilkovna translate="label" module="shipping">
                    <label>Packeta</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>103</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[
                            <i>Other settings could be set in Systém -> Configuration -> Packeta</i>
                    ]]></comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <methodtitle translate="label">
                            <label>Method Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </methodtitle>
                    </fields>
                </zasilkovna>
            </groups>
        </carriers>


        <zasilkovna_options translate="label" module="zasilkovna">
            <label>Widget settings</label>
            <tab>zasilkovnaconfig</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label">
                    <label>Widget settings</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key>
                            <label>API key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </api_key>                        
                    </fields>
                </configuration>                
            </groups>
        </zasilkovna_options>


        <zasilkovna_rules translate="label" module="zasilkovna">
            <label>Price rules</label>
            <tab>zasilkovnaconfig</tab>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>

                <configuration_global translate="label">
                    <label>Global settings</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_price>
                            <label>Default price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </default_price>

                        <max_weight>
                            <label>Max. weight</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </max_weight>

                        <free_shipping>
                            <label>Free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </free_shipping>
                    </fields>
                </configuration_global>

                <configuration translate="label">
                    <label>Rules - other countries</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_price>
                            <label>Default price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </default_price>

                        <free_shipping>
                            <label>Free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </free_shipping>

                        <price_rules translate="label">
                            <label>Price rules</label>
                            <frontend_model>Zasilkovna_Checkout_Block_Adminhtml_Config_PriceRules</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment></comment>
                        </price_rules>
                    </fields>
                </configuration>

                <configuration_cz translate="label">
                    <label>Rules CZ</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_price>
                            <label>Default price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </default_price>

                        <free_shipping>
                            <label>Free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Free shipping threshold for Czech Republic.</comment>
                        </free_shipping>

                        <price_rules translate="label">
                            <label>Price rules</label>
                            <frontend_model>Zasilkovna_Checkout_Block_Adminhtml_Config_PriceRules</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment></comment>
                        </price_rules>
                    </fields>
                </configuration_cz>

                <configuration_sk translate="label">
                    <label>Rules SK</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_price>
                            <label>Default price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </default_price>

                        <free_shipping>
                            <label>Free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Free shipping threshold for Slovakia.</comment>
                        </free_shipping>

                        <price_rules translate="label">
                            <label>Price rules</label>
                            <frontend_model>Zasilkovna_Checkout_Block_Adminhtml_Config_PriceRules</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment></comment>
                        </price_rules>
                    </fields>
                </configuration_sk>

                <configuration_pl translate="label">
                    <label>Rules PL</label>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_price>
                            <label>Default price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </default_price>

                        <free_shipping>
                            <label>Free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Free shipping threshold for Poland.</comment>
                        </free_shipping>

                        <price_rules translate="label">
                            <label>Price rules</label>
                            <frontend_model>Zasilkovna_Checkout_Block_Adminhtml_Config_PriceRules</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment></comment>
                        </price_rules>
                    </fields>
                </configuration_pl>

                <configuration_hu translate="label">
                    <label>Rules HU</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_price>
                            <label>Default price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </default_price>

                        <free_shipping>
                            <label>Free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Free shipping threshold for Hungary.</comment>
                        </free_shipping>

                        <price_rules translate="label">
                            <label>Price rules</label>
                            <frontend_model>Zasilkovna_Checkout_Block_Adminhtml_Config_PriceRules</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment></comment>
                        </price_rules>
                    </fields>
                </configuration_hu>

                <configuration_ro translate="label">
                    <label>Rules RO</label>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_price>
                            <label>Default price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-not-negative-number</validate>
                            <comment></comment>
                        </default_price>

                        <free_shipping>
                            <label>Free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Free shipping threshold for Romania.</comment>
                        </free_shipping>

                        <price_rules translate="label">
                            <label>Price rules</label>
                            <frontend_model>Zasilkovna_Checkout_Block_Adminhtml_Config_PriceRules</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment></comment>
                        </price_rules>
                    </fields>
                </configuration_ro>



            </groups>
        </zasilkovna_rules>

        <zasilkovna_cod translate="label" module="zasilkovna">
            <label>COD</label>
            <tab>zasilkovnaconfig</tab>
            <sort_order>3000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>

                <configuration translate="label">
                    <label>Payment methods</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <cod translate="label">

                            <label>COD</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

                            <source_model>Zasilkovna_Checkout_Model_Misc_Payment</source_model>


                            <comment>Payment methods selected above will be considered as cash on delivery (for Packeta).</comment>
                        </cod>
                    </fields>
                </configuration>
            </groups>
        </zasilkovna_cod>


    </sections>
    <tabs>
        <zasilkovnaconfig translate="label" module="zasilkovna">
            <label>Packeta configuration</label>
            <sort_order>99999</sort_order>
        </zasilkovnaconfig>
    </tabs>
    <default>
        <zasilkovna_rules>
            <configuration_global>
                <max_weight>5</max_weight>
            </configuration_global>
        </zasilkovna_rules>
    </default>
</config>