/.idea
/app/.htaccess
/app/bootstrap.php
/app/Mage.php
/app/code/community
/app/code/core
/dev/
/downloader/
/errors/
/includes/
/js/
/lib/
/media/
/shell/
/var/
!skin/
skin/adminhtml
skin/install
!skin/frontend/base/default/*
skin/frontend/base/default/css/*
!skin/frontend/base/default/css/zasilkovna
skin/frontend/base/default/images/*
!skin/frontend/base/default/images/zasilkovna
skin/frontend/base/default/js/*
!skin/frontend/base/default/js/zasilkovna
/skin/frontend/default/*
/skin/frontend/rwd/*
/skin/frontend/base/default/lib/*
/app/design/adminhtml/default/default/*
/app/design/install/*
/app/design/frontend/default/*
/app/design/frontend/rwd/*
/app/design/frontend/base/default/etc/*
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/zasilkovna.xml
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/zasilkovna
/app/etc/modules/*
!/app/etc/modules/Zasilkovna_Checkout.xml
/app/etc/config.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/locale/en_US/*
!/app/locale/en_US/Zasilkovna_Checkout.csv

.htaccess
.htaccess.sample
api.php
cron.sh
cron.php
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE_AFL.txt
LICENSE.txt
LICENSE.html
/mage
php.ini.sample
RELEASE_NOTES.txt